/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(22, 113, 233);
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    background-color: white;
    padding: 0;
    margin: 0;
    /* height: 100vh; */
}

body {
    padding: 0;
    margin: 0;
}
/* body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100%;
} */

/* .body {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    color: rgb(225, 175, 114);
    display: flex;
    margin: 0 auto;
    gap: 10px;
    flex-direction: column;
    height: 100svh;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
} */

/* .wrapper {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header,
.site-main,
.footer {
width: 100%;
} */

.test-text {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;


        font-family: "Inter Tight", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
}
.body {

    font-family: "Inter Tight", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;

    /* font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal; */
    font-size: 1.2rem;
    color: rgb(225, 175, 114);
    display: flex;
    margin: 0 auto;
    gap: 10px;
    flex-direction: column;
    /* height: 100svh; */
    height: 100svh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-main {
    flex-grow: 1;
    width: 100%;
    /* max-width: 100%; */
    margin: 0 auto;
}

.main__container {
    background-color: rgb(238, 234, 130);
}

.footer, .header {
    /* background-color: violet; */
    flex-grow: 0;
    /* width: 100%;
    max-width: 100%;
    margin: 0 auto; */
}

.footer__container {
    background-color: rgb(130, 227, 238);
    width: 100%;
    border-radius: var(--border-radius);
    padding: 30px 20px 0 20px;
}

.header__container {
    /* background-color: rgb(130, 186, 238); */
    width: 100%;

    position: relative;
    /* height: 70svh; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 40px 0 60px 0;
    margin-top: 10px;
    min-height: 95svh;
}

.title-section {
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);
    margin: 30px 0;
}
