.header__title {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-text-color-light);
    font-size: 3rem;
    /* text-shadow: var(--text-primary-shadow); */
    text-shadow: var(--text-primary-shadow);
}

/* .header-phone {
    position: absolute;
    right: 10px;
    top: 10px;
} */

.logo__container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.header__line {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 0 10px;
}

.header__logo {
    width: 90px;
    height: auto;
    /* border-radius: var(--border-radius); */
}

.header__overlay__view {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: bottom; */
    background-size: cover;
    z-index: -1;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.menu__item {
    text-align: center;
}

.menu__link {
    font-family: "Ubuntu", serif;
    /* font-weight: 700;
    font-family: "Inter Tight", serif;
    font-style: normal; */
    font-weight: 600;
    /* color: var(--secondary-color); */
    font-size: 3rem;
    /* text-shadow: var(--text-primary-shadow); */
    text-shadow: var(--text-primary-shadow-var2);
    /* color: #4CCCFC; */
    color: var(--primary-color-var4);
    /* text-shadow: 0px 0px 5px #dbee32, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3, */
    /* 0px 0px 20px #b393d3; */
}

.text-header {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-color);
    font-size: 2.6rem;
    text-shadow: var(--text-primary-shadow);
    text-align: center;
    padding: 30px 20px;
    color: var(--primary-color-var3);
    text-shadow: var(--text-primary-shadow-var2);
}


.phone-link {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-text-color-light);
    font-size: 3rem;
    text-shadow: var(--text-primary-shadow);
    display: flex;
}

.header-contact-us {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    flex-direction: column;
    align-items: flex-end;
}