.service-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 20px;
    transition: 0.2s ease-in-out;
    /* cursor: pointer; */
    position: relative;
    min-height: 500px;
}

.service-item h3 {
    color: #abb8c3;
    font-size: 3rem;
    font-weight: 700;
    /* text-shadow: var(--text-primary-shadow); */
    text-shadow: -1px -1px #FFF,
    -2px -2px #FFF,
    -1px 1px #FFF,
    -2px 2px #FFF,
    1px 1px #FFF,
    2px 2px #FFF,
    1px -1px #FFF,
    2px -2px #FFF,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
    text-align: center;
    text-shadow: var(--text-primary-shadow-var2);
}

.service-item-content {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: center;
}

.service-item-content * {
    color: #bbb;
    font-size: 2rem;
    font-weight: 500;
    padding: 5px 0;
}

.service-item-description {
    /* color: var(--primary-color); */
    /* font-size: 2rem;
    font-weight: 500; */
}

.service-item-description h4 {
    /* color: var(--primary-color); */
    color: #bbb;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 0 0 20px 0;
    margin-top: -5px;
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /* width: 90%; */
    /* margin: 0 auto; */
    padding-bottom: 40px;
}

.service-list-item {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: flex-start;
    gap: 15px;
    /* flex-direction: column;
    gap: 20px;
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 20px;
    transition: 0.2s ease-in-out;
    cursor: pointer; */
}

.service-list-title {
    /* color: var(--primary-text-color-light); */
    color: #abb8c3;
    font-size: 2rem;
    font-weight: 700;
    /* text-shadow: var(--text-primary-shadow); */
    text-shadow: -1px -1px #FFF,
    -2px -2px #FFF,
    -1px 1px #FFF,
    -2px 2px #FFF,
    1px 1px #FFF,
    2px 2px #FFF,
    1px -1px #FFF,
    2px -2px #FFF,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
    flex-basis: 30%;
}

.service-list-delivery {
    flex-basis: 5%;
}

.service-list-value {
    /* color: var(--primary-color); */
    color: var(--primary-text-color-light);
    font-size: 1.2rem;
    font-weight: 500;
    /* text-shadow: var(--text-primary-shadow); */
    text-shadow:
    1px 1px 1px silver,
    -1px 1px 1px silver;
    /* flex-basis: 50%; */
    padding: 0 10px;
}

.service-tag-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
    align-items: center;
}

.service-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    border-radius: var(--border-radius);
    /* color: var(--primary-color-var4); */
    border: solid 3px var(--primary-color-var4);
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    background-color: #9bdef042;
}

.service-title {
    font-size: 2rem;
    font-weight: 700;
}

.service-card-wrapper.closed .service-title {
    /* color: #06064f; */
    /* color: var(--primary-color-var4); */
    color: #ffffff;
    text-shadow: 0px 0px 5px #4CCCFC, 0px 0px 10px #4CCCFC, 0px 0px 10px #4CCCFC,
    0px 0px 20px #4CCCFC;
}

.service-card-wrapper.open .service-title {
    color: #ffffff;
    /* font-size: 2rem;
    font-weight: 700; */
    text-shadow: 0px 0px 5px #4CCCFC, 0px 0px 10px #4CCCFC, 0px 0px 10px #4CCCFC,
    0px 0px 20px #4CCCFC;
}

.service-background {
    width: 100%;
    height: 100%;
}

.service-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.service-card-header {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.time__icon {
    width: 30px;
    height: auto;
    /* border-radius: var(--border-radius); */
}
.service-tag-title {
    /* color: #0306ac; */
    color: var(--primary-color-var4);
    font-size: 2rem;
    font-weight: 700;
}

.service-tag-icon {
    width: 50px;
    height: auto;
}

.service-post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.service-card-wrapper {
    position: relative; /* Для позиционирования псевдоэлементов */
}

/* .service-card-wrapper.closed::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/wp-content/themes/poleskiysplavtheme/assets/image/arrow-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translateY(-50%);
} */

/* .service-card-wrapper.open::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/wp-content/themes/poleskiysplavtheme/assets/image/arrow-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 50%;
    bottom: 20px;
    transform: scale(-1, -1);
} */

.service-thumbnail img {
    position: absolute; /* Позволяет изображению занимать всю карточку */
    top: 0; /* Заполнение от верхней части */
    left: 0; /* Заполнение от левой части */
    width: 100%; /* Ширина изображения */
    height: 100%; /* Высота изображения */
    object-fit: cover; /* Сохраняет пропорции изображения, заполняя элемент */
    z-index: -1; /* Помещает изображение под остальным контентом */
    filter: brightness(40%);
}

.difficulty-icon,
.service-list-svg {
    width: 30px;
    height: auto;
}

/* .difficulty {
    flex-direction: column;
} */

.difficulty-level {
    align-self: flex-start;
    flex-wrap: nowrap;
    display: flex;
    gap: 5px;
    align-items: center;
}

.select-service {
    border: #4CCCFC solid 3px;
    font-size: 1.7rem;
    color: white;
    padding: 5px;
    border-radius: var(--border-radius);
}